# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# gatsby
.cache/
public/

# misc
.DS_Store

# environments
.env*
!.env.defaults
.env\*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# Local Netlify folder
.netlify

# Schema and Data
*.csv
data/data/*.json
*.schema.html
schema_doc.css
schema_doc.min.js

src/gatsby-types.d.ts
