@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #___gatsby,
  #gatsby-focus-wrapper {
    @apply h-full;
  }

  body {
    @apply text-slate-800;
  }

  /* Set custom brand font */
  @font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-VariableFont_wght.ttf')
      format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Italic-VariableFont_wght.ttf')
      format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
  }
}

@layer components {
  /* Default brand button */
  .btn {
    @apply inline-flex items-center justify-center rounded-full py-2 px-4  drop-shadow;
  }

  .btn-brand {
    @apply btn border-2 border-emerald-300 bg-emerald-300 font-bold text-slate-600 transition-colors hover:bg-slate-800 hover:text-emerald-300 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2;
  }

  .btn-brand-outline {
    @apply btn-brand  border-emerald-300 bg-white text-slate-600 hover:bg-emerald-300 hover:text-slate-600;
  }
}
