---
import Link from '@components/links/Link.astro'
import LayoutPage from 'src/layouts/LayoutPage.astro'
---

<!-- todo redesign -->
<LayoutPage title="Seite nicht gefundne (404)" noindex>
  Diese Seite existiert nicht.
  <!-- <PageHeader title="Fehler 404" subTitle="Diese Seite existiert nicht." />
  <Section>
  </Section> -->
  <Link href="/">Zurück zur Startseite</Link>
</LayoutPage>
