---
type Props = {
  className?: string
  extraPadding?: boolean
}
const { className, extraPadding } = Astro.props
---

<section class:list={['my-10 px-4', extraPadding && 'py-8', className]}>
  <div class="mx-auto my-20 max-w-[1300px] md:my-32 md:px-10">
    <slot />
  </div>
</section>
